[Unit]
Description=Gunicorn server for SITE_NAME

[Service]
Restart=on-failure
User=testinggoat
WorkingDirectory=/home/testinggoat/sites/SITE_NAME/source
ExecStart=/home/testinggoat/sites/SITE_NAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITE_NAME.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
